.add-button {
    display: flex;
    width: min(2.0vw, 5.5vh);
    aspect-ratio: 1/1;
    position: absolute;
    top: 5%;
    right: 1%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(-1, 1);
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
}

.add-button:hover {
    color: red;
    border-color: red;
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}