.album {
    all: unset;                       /* reset all of element's properties to inherited values if the property inherits by default (color, font details), or to initial (default) CSS values for non-inherited properties (width, height, margin, padding, border) - removes default button styling */
    display: block;                   /* display element as a block element like <p> ... starts on new line, takes up whole width - eliminates horizontal scroll */
    box-sizing: border-box;           /* includes padding and border in calculation of element's total width and height */
    width: 75%;
    height: 75%;
    border: 3px solid white;        /* width | style | color */
    border-radius: 20px;
    overflow: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    padding-bottom: 3%;
}

.album:hover {
    border-color: cadetblue;
    cursor: pointer;
}

.album-cover {
    width: 100%;
    height: 70%;
    aspect-ratio: 1/1;                /* width-height ratio - keep square */
    overflow: hidden;
}

.album-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;                /* preserve aspect ratio so image fills container + cut overflowing content if needed */
}

.album-info {
    text-align: center;
}

.album-info h3 {
    line-height: 1.0;
}