.bio {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0vh;
    overflow: auto;
    border: 3px solid white;
    border-radius: 20px;
}

.bio:hover {
    background-color: rgba(237, 235, 235, 0.419);
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.bio h2 {
    font-size: 4.5vh;
    color: white;
    position: absolute;
    top: -2vh;
    margin-left: 1vh;
}

.bio p {
    width: 96%;
    height: 60%;
    font-size: 2vh;
    color: white;
    position: absolute;
    top: 7vh;
    margin-left: 1vh;
    overflow: auto;
    /* border: 3px dashed orange; */
}

.modal-bio {
    position: relative;             /* needs to be relative since modal box is coming out of parent container and into doc body */
    left: 12.5vw;
    top: -70vh;
    box-sizing: border-box;
    width: 75vw;
    height: 50vh;
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    font-size: 3vh;
    overflow: auto;
    background-color: rgb(121, 121, 172);
    border: 3px double white;
    border-radius: 20px;
    box-shadow: 4px 4px 100px 100px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-bio h2 {
    position: absolute;
    top: 1vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    padding: 0;
    font-size: 4.5vh;
    color: white;
    /* border: 3px dashed red; */
}

.modal-bio textarea {
    width: 96%;
    height: 60%;
    position: absolute;
    top: 8vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    padding: 0;
    overflow: auto;
    resize: none;
    font-size: 2vh;
    color: black;
    background-color: rgba(205, 204, 204, 0.904);
    border-radius: 10px;
    /* border: 3px dashed orange; */
}

.modal-bio .char-count {
    position: absolute;
    bottom: 8vh;
    left: 2vw;
    font-size: 2vh;
}

.modal-bio .save {
    position: absolute;
    bottom: 8.5vh;
    right: 2vw;
    background-color: rgb(87, 87, 124);
    border: none;
    border-radius: 20px;
    font-size: 1.5vh;
    color: white;
}

.modal-bio .save:hover {
    border: 3px solid white;
}

.modal-bio .done {
    position: absolute;
    top: 1.5%;
    right: 1%;
    background-color: rgb(87, 87, 124);
    border: none;
    border-radius: 20px;
    font-size: 1.5vh;
    color: white;
}

.modal-bio .done:hover {
    border: 3px solid white;
}