.delete-button {
    position: absolute;
    right: 1vw;
    bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 8vw;
    height: 5vh;
    color: red;
    background-color: transparent;
    border: 3px solid red;
    border-radius: 20px;
}

.delete-button:hover {
    cursor: pointer;
    color: white;
    background-color: red;
}

.modal-delete {
    position: relative;
    left: 30vw;
    top: -70vh;
    box-sizing: border-box;
    width: 40vw;
    height: 30vh;
    margin: 0;
    padding: 0;
    font-size: 3vh;
    overflow: auto;
    background-color: red;
    border: 3px double white;
    border-radius: 20px;
}

.modal-delete p {
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: smaller;
}

.modal-delete .cancel {
    position: absolute;
    bottom: 2vh;
    left: 1vw;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
}

.modal-delete .confirm-delete {
    position: absolute;
    bottom: 2vh;
    right: 1vw;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
}

.modal-delete .cancel:hover, .modal-delete .confirm-delete:hover {
    color: red;
    background-color: white;
    cursor: pointer;
}