.event-details {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* border: 3px dashed red; */
}

.banner {
    position: absolute;
    top: 11vh;
    box-sizing: border-box;
    width: 45%;
    height: 40%;
    margin: 0;
    padding: 0;
    /* border: 3px dashed orange; */
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.banner img {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: fill;
    border-radius: 20px;
    /* border: 3px dashed yellow; */
}

.banner h1 {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    font-size: 9vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: left;
    color: white;
    -webkit-text-stroke: 2px rgb(66, 120, 122);
    /* border: 3px dashed green; */
}

.info {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    /* border: 3px dashed blue; */
}

.info h3 {
    position: absolute;
    top: 2vh;
    box-sizing: border-box;
    width: 45%;
    height: 90%;
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    display: flex;
    font-size: 2.75vh;
    align-items: center;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.musician-loc-time-price {
    position: relative;
    top: -20vh;
    left: 46vw;
    box-sizing: border-box;
    width: 50%;
    height: 90%;
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    font-size: 3vh;
    display: flex;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    /* border: 3px dashed hotpink; */
}

.modal-event {
    position: relative;             /* needs to be relative since modal box is coming out of parent container and into doc body */
    left: 12.5vw;
    top: -70vh;
    box-sizing: border-box;
    width: 75vw;
    height: 50vh;
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    font-size: 3vh;
    overflow: auto;
    background-color: rgb(121, 121, 172);
    border: 3px double white;
    border-radius: 20px;
    /* <offset-x> <offset-y> <blur-radius> <spread-radius> <color>*/
    box-shadow: 4px 4px 100px 100px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-event .event-title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    font-size: 4.5vh;
    color: white;
    /* border: 3px dashed red; */
}

.modal-event .edit-title {
    box-sizing: border-box;
    width: 97%;
    height: 8%;
    position: absolute;
    top: 8vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    overflow: auto;
    resize: none;
    font-size: 2vh;
    color: black;
    background-color: rgba(205, 204, 204, 0.904);
    border-radius: 10px;
    /* border: 3px dashed orange; */
}

.modal-event .event-promo {
    position: absolute;
    top: 13vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    font-size: 4.5vh;
    color: white;
    /* border: 3px dashed red; */
}

.modal-event .image-upload {
    box-sizing: border-box;
    width: 97%;
    height: 15%;
    position: absolute;
    top: 19vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    color: white;
    /* border: 3px dashed yellow; */
}

.modal-event .event-desc {
    position: absolute;
    top: 24.5vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    font-size: 4.5vh;
    color: white;
    /* border: 3px dashed green; */
}

.modal-event .edit-description {
    box-sizing: border-box;
    width: 97%;
    height: 17%;
    position: absolute;
    top: 32.5vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    overflow: auto;
    resize: none;
    font-size: 2vh;
    color: black;
    background-color: rgba(205, 204, 204, 0.904);
    border-radius: 10px;
    /* border: 3px dashed blue; */
}

.modal-event .char-count {
    position: absolute;
    top: 41vh;
    right: 2vw;
    font-size: 1.7vh;
}

.modal-event .event-loc {
    position: absolute;
    top: 44vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    font-size: 4.5vh;
    color: white;
}

.modal-event .edit-loc {
    box-sizing: border-box;
    width: 97%;
    height: 8%;
    position: absolute;
    top: 52vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    overflow: auto;
    resize: none;
    font-size: 2vh;
    color: black;
    background-color: rgba(205, 204, 204, 0.904);
    border-radius: 10px;
}

.modal-event .event-time {
    position: absolute;
    top: 57vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    font-size: 4.5vh;
    color: white;
    /* border: 3px dashed purple; */
}

.modal-event .edit-datetime {
    box-sizing: border-box;
    width: 97%;
    height: 8%;
    position: absolute;
    top: 65vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    overflow: auto;
    resize: none;
    font-size: 2vh;
    color: black;
    background-color: rgba(205, 204, 204, 0.904);
    border-color: transparent;
    border-radius: 10px;
    /* border: 3px dashed pink; */
}

.modal-event .event-price {
    position: absolute;
    top: 70vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    font-size: 4.5vh;
    color: white;
    /* border: 3px dashed brown; */
}

.modal-event .edit-price {
    box-sizing: border-box;
    width: 97%;
    height: 8%;
    position: absolute;
    top: 78vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    overflow: auto;
    resize: none;
    font-size: 2vh;
    color: black;
    background-color: rgba(205, 204, 204, 0.904);
    border-radius: 10px;
    /* border: 3px dashed maroon; */
}

.modal-event .save {
    position: absolute;
    top: 83vh;
    right: 2vw;
    background-color: rgb(87, 87, 124);
    border: none;
    border-radius: 20px;
    font-size: 1.5vh;
    color: white;
}

.modal-event .save:hover {
    border: 3px solid white;
}

.modal-event .done {
    position: absolute;
    top: 1.5%;
    right: 1%;
    background-color: rgb(87, 87, 124);
    border: none;
    border-radius: 20px;
    font-size: 1.5vh;
    color: white;
}

.modal-event .done:hover {
    border: 3px solid white;
}