.event {
    all: unset;                             /* resets element's properties to initial since none of those properties are inheritable, but since rules that appear later in the code override earlier rules (if both have the same specificity), the properties 'redefined' below override the initial given by unset */
    display: block;
    box-sizing: border-box;
    width: 80%;
    height: 75%;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 20px;
    overflow: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    padding-bottom: 3%;
}

.event:hover {
    cursor: pointer;
    background-color: rgba(237, 235, 235, 0.419);
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.event-promo {
    width: 100%;
    height: 65%;
    aspect-ratio: 1/1;
    overflow: hidden;
    box-sizing: border-box;
    /* border: 3px dashed red; */
}

.event-promo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-info {
    width: 100%;
    height: 35%;
    text-align: center;
    box-sizing: border-box;
    /* border: 3px dashed orange; */
}

.event-info h3 {
    width: 100%;
    height: 20%;
    position: relative;
    top: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* border: 3px dashed yellow; */
}

.event-info p {
    width: 100%;
    height: 80%;
    position: relative;
    top: -35%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 3px dashed green; */
}