.event {
    width: 75%;
    height: auto;
    border: 3px solid white;
    border-radius: 20px;
    overflow: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.event:hover {
    border-color: cadetblue;
}

.event h3, p {
    margin-left: 5%;
    margin-right: 5%;
}