.pic-name {
    width: 100%;
    height: 100%;
    position: relative;
    /* border: 3px dashed red; */
}

.pic-name:hover {
    background-color: rgba(237, 235, 235, 0.419);
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.pic-name img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0vh;
    border: 3px solid white;
    border-radius: 20px;
}

.pic-name h1 {
    width: 98%;
    height: 20%;
    margin: 0;
    font-size: 8.5vh;
    color: white;
    position: absolute;
    left: 1vh;
    bottom: 0;
    letter-spacing: 0.3vw;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: left;
    /* border: 3px dashed yellow; */
}

.modal-picname {
    position: relative;             /* needs to be relative since modal box is coming out of parent container and into doc body */
    left: 12.5vw;
    top: -70vh;
    box-sizing: border-box;
    width: 75vw;
    height: 50vh;
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    font-size: 3vh;
    overflow: auto;
    background-color: rgb(121, 121, 172);
    border: 3px double white;
    border-radius: 20px;
    box-shadow: 4px 4px 100px 100px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-picname .name-section {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    padding: 0;
    font-size: 4.5vh;
    color: white;
    /* border: 3px dashed red; */
}

.modal-picname textarea {
    box-sizing: border-box;
    width: 97%;
    height: 8%;
    position: absolute;
    top: 8vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    overflow: auto;
    resize: none;
    font-size: 2vh;
    color: black;
    background-color: rgba(205, 204, 204, 0.904);
    border-radius: 10px;
    /* border: 3px dashed orange; */
}

.modal-picname .image-section {
    position: absolute;
    top: 13vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    padding: 0;
    font-size: 4.5vh;
    color: white;
    /* border: 3px dashed red; */
}

.modal-picname .image-container {
    box-sizing: border-box;
    width: 97%;
    height: 50%;
    position: absolute;
    top: 19vh;
    left: 0;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    /* border: 3px dashed yellow; */
}

.modal-picname .save {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    background-color: rgb(87, 87, 124);
    border: none;
    border-radius: 20px;
    font-size: 1.5vh;
    color: white;
}

.modal-picname .save:hover {
    border: 3px solid white;
}

.modal-picname .done {
    position: absolute;
    top: 1.5%;
    right: 1%;
    background-color: rgb(87, 87, 124);
    border: none;
    border-radius: 20px;
    font-size: 1.5vh;
    color: white;
}

.modal-picname .done:hover {
    border: 3px solid white;
}