.stats-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.report {
    position: absolute;
    left: 5vw;
    top: 15vh;
    box-sizing: border-box;
    width: 90vw;
    height: 80vh;
    padding: 3vh 2vw 3vh 2vw;
    overflow: auto;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.report h1 {
    margin: 0;
    text-align: center;
}

.by-date {
    width: 100%;
    position: relative;
    top: 2vh;
    display: flex;
    justify-content: space-between;
}

.from input[type="date"], .to input[type="date"]{
    height: 110%;
    background-color: transparent;
    border: 1px solid #d5cfcf;
    border-radius: 5px;
}

.from input[type="date"]::-webkit-datetime-edit-year-field, .to input[type="date"]::-webkit-datetime-edit-year-field{
    color: white !important;
}

.from input[type="date"]::-moz-datetime-edit-year-field, .to input[type="date"]::-moz-datetime-edit-year-field{
    color: white !important;
}

.by-album {
    position: relative;
    top: 4vh;
}

.by-genre {
    position: relative;
    top: 6vh;
}

.to-show {
    position: relative;
    top: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.to-show input[type="checkbox"] {
    accent-color: #382c60ff;
    transform: scale(1.3);
}

.generate-report {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 35px;
    background-color: #d5cfcf;
    color: #382c60ff;
    border: 2px solid #382c60ff;
    border-radius: 18px;
}

.generate-report:hover {
    color: #d5cfcf;
    background-color: #382c60ff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.num-results-returned {
    position: relative;
    top: 11vh;
}

.results-table {
    position: relative;
    top: 12vh;
    width: 100%;
    padding: 0;
    border: 1px solid #382c60ff;
    border-radius: 5px;
}

.results-table table {
    width: 100%;
    border-collapse: collapse;
}

.results-table th, td {
    
    border: 1.5px solid #382c60ff;
    border-radius: 5px;
}