.pic-name {
    width: 100%;
    height: 100%;
    position: relative;
}

.pic-name img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    position: absolute;
    top: 0vh;
    border: 3px solid white;
    border-radius: 20px;
}

.pic-name img:hover {
    border-color: cadetblue;
}

.pic-name h1 {
    font-size: 4.8vw;
    color: white;
    position: absolute;
    left: 1vh;
    bottom: -7vh;
    letter-spacing: 0.3vw;
}

.pic-name h1:hover {
    color: cadetblue;
}