.dashboard {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.artist-info {
    width: 48vw;
    height: 86vh;
    position: absolute;
    top: 11vh;
    left: 1vh;
    /* border: 3px dashed red; */
}

.name-pfp {
    width: 100%;
    height: 55%;
    position: absolute;
    top: 0;
    /* border: 3px dashed orange; */
}

.label {
    width: auto;
    height: 8%;
    position: absolute;
    top: 47.5vh;
    left: 1vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    /* border: 3px dashed yellow; */
}

.musician-bio {
    width: 100%;
    height: 37%;
    position: absolute;
    bottom: 0;
    /* border: 3px dashed green; */
}

.stats {
    width: 48vw;
    height: 33vh;
    position: absolute;
    top: 11vh;
    left: 50vw;
    /* border: 3px dashed purple; */
    text-align: right;
}

.followers {
    width: 100%;
    height: 48%;
    position: absolute;
    top: 0vh;
    /* border: 3px dashed magenta; */
}

.monthly {
    width: 100%;
    height: 48%;
    position: absolute;
    bottom: 0vh;
    /* border: 3px dashed magenta; */
}

.followers h1, .monthly h1 {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0vh;
    right: 0vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 8vh;
    letter-spacing: 0.5vw;
    /* border: 3px dashed pink; */
}

.followers p, .monthly p {
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0vh;
    right: 0vw;
    margin: 0;
    font-size: 2.5vh;
    letter-spacing: 0.1vw;
    /* border: 3px dashed brown; */
}

.stats-button {
    position: absolute;
    left: 4.8vw;
    bottom: 2vh;
}

.albums-events {
    position: absolute;
    top: 45vh;
    right: 0vw;
    width: 45vw;
    height: 52vh;
    /* border: 3px dashed lavender; */
}

.albums {
    width: 40%;
    height: 90%;
    position: absolute;         /* position relative to nearest positioned ancestor, .albums-events */
    top: 0;
    left: 0;
    /* border: 3px dashed rgb(47, 106, 143); */
}

.albums-section-title, .events-section-title {
    color: white;
}

.album-cards, .event-cards {
    height: 90%;
    border: 3px double white;
    border-radius: 20px;
    overflow: scroll;
    margin: 0;
    padding: 0;
    /* border: 3px dashed olivedrab; */
}

.events {
    width: 40%;
    height: 90%;
    position: absolute;         /* position relative to nearest positioned ancestor, .albums-events */
    top: 0;
    left: 55%;
    /* border: 3px dashed rgb(47, 106, 143); */
}
