.page {
  position: relative;
  width: 1440px;
  min-height: 1549px;
  margin: 0 auto;
  background: linear-gradient(180deg, #1A317A 6.07%, #244199 31.25%, #3D5398 56.73%, #999 100%);
}

/*Profile header*/
.header {
  position: absolute;
  width: 1300px;
  height: 289px;
  left: 70px;
  top: 156px;
  background: rgba(121, 212, 247, 0.5);
  border-radius: 20px;
}
.headerInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.kebabSlot {
  position: absolute;
  left: 1300px;
  top: 183px;
  width: 65px;
  height: 54px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 30px;
  z-index: 1000;
}

.content {
  position: absolute;
  width: 1300px;
  height: 968px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 39px;
}
