.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background: linear-gradient(to top, rgb(14, 14, 161), rgba(14, 14, 161, 0.2));
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40 0 24px;
}

.logo {
  height: 120px;
  width: auto;
  object-fit: contain;
}

.brand {
  color: white;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  line-height: 1;
  padding-top: 4px;
  /*text-align: center;*/
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loginForm {
  width: 400px;
  height: 470px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 22px 26px 26px;
}

.formTitle {
  display: block;
  text-align: center;
  font-size: 32pt;
  margin-bottom: 10px;
  color: white;
}

.formLabel {
  display: block;
  font-size: 20pt;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.input {
  display: block;
  width: 80%;
  height: 50px;
  margin: 8px auto;
  font-size: 20pt;
  border-radius: 10px;
  border: 1px solid rgb(122, 122, 122);
  text-align: center;
  transition: 0.25s;
  color: white;
  background: rgba(255, 255, 255, 0.08);
}

.input:hover {
  border-color: white;
}

.loginButton {
  width: 80%;
  height: 50px;
  margin: 1em auto;
  display: block;
  font-size: 20pt;
  border-radius: 10px;
  background: #4e8cff;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.loginButton:hover {
  background: #3b6ee0;
}

.registerText {
  text-align: center;
  color: rgb(180, 180, 180);
  font-style: italic;
  margin-top: 10px;
}
