#main {
  width: 100vw;
  margin-top: 141px;
  height: (100vh-141px);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(to top, rgb(14, 14, 161), rgba(14, 14, 161, 0.2));
}

.register-form {
  width: 400px;
  height: 560px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
}

#form-title {
  display: block;
  margin: 0.5em 0.25em auto auto;
  font-size: 32pt;
  text-align: center;
  font-weight: 500;
}

.form-label {
  font-size: 24pt;
  display: block;
  margin: auto;
  text-align: center;
}

.register-field {
  display: block;
  margin: auto;
  font-size: 20pt;
  height: 50px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid rgb(122, 122, 122);
  transition: 0.25s;
  text-align: center;
}

.register-field:hover {
  border: 1px solid rgba(255, 255, 255);
}

#register-button {
  display: block;
  margin: 1em auto;
  width: 80%;
  border-radius: 10px;
  height: 50px;
  font-size: 20pt;
}

#register-text {
  display: block;
  margin: 1em auto;
  color: rgb(180, 180, 180);
  font-weight: lighter;
  text-align: center;
  font-style: italic;
}

/* ---------------- Register.module.css additions ---------------- */
/* Add this below your existing CSS */

.password-rules {
  width: 80%;
  margin: 0.5em auto;
  list-style: none;
  padding: 0;
  font-size: 14pt;
  text-align: left;
  color: rgb(200, 200, 200);
}

.password-rules li {
  margin: 4px 0;
  transition: 0.25s;
}

.valid {
  color: rgb(120, 255, 120);
}

.invalid {
  color: rgb(255, 120, 120);
}

.password-error-box {
  width: 80%;
  margin: 0.5em auto;
  padding: 0.5em;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.15);
  color: rgb(255, 180, 180);
  font-size: 14pt;
}

#register-button:hover {
  cursor: pointer;
}
